.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.content blockquote {
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

.content blockquote p {
    margin: 0;
    font-style: italic;
    color: #636b6f;
}

.content code {
    color: #1b1e21;
}

.content h1 {
    text-align: center;
    padding-bottom: 15px;
}

.content p {
    text-align: justify;
}

.content img {
    width: 100%;
}

.content pre {
    background-color: #d8d8d8;
    border-radius: 10px;
    padding: 15px;
}

@media screen {
    .content h1 {
        font-size: 32px;
    }

    .content h2 {
        font-size: 30px;
    }

    .content h3 {
        font-size: 26px;
    }

    .content h4 {
        font-size: 24px;
    }

    .content h5 {
        font-size: 20px;
    }

    .content h6, .content p, .content ul, ol {
        font-size: 18px;
    }

    .content code {
        font-size: 18px;
    }
}

@media screen and (max-width: 720px) {
    .content h1 {
        font-size: 28px;
    }

    .content h2 {
        font-size: 24px;
    }

    .content h3 {
        font-size: 22px;
    }

    .content h4 {
        font-size: 20px;
    }

    .content h5 {
        font-size: 18px;
    }

    .content h6, .content p, .content ul, ol {
        font-size: 14px;
    }

    .content code {
        font-size: 14px;
    }
}